.content-header {
  padding: 16px 0;
  background: $bg-color;
  border-top: 1px $accent-color solid;

  &__text {
    @extend %regular-font;
    font-size: 16px;
    color: $secondary-text-color;
  }
}
