.swiper-slide {
  max-width: 240px;

  &--price {
    max-width: 260px;
    border-radius: 0;

    &:not(:last-child) {
      border-bottom: 1px solid $separator-color;
    }

  }

  @media screen and (min-width: 768px) {
    max-width: none;
  }
}
