$primary-text-color: #1B1C21;
$secondary-text-color: #7E7E82;
$action-color: #FF3E79;
$accent-color: #B8FFEC;
$separator-color: #EAEAEA;
$main-bg-color: #F8F8F8;
$bg-color: #FFFFFF;
$bullet-color: #DDDDDD;
$active-bullet-color: #B5B6BC;
$shadow-color: rgba(14, 24, 80, 0.2);
